header {
    text-align: center;
  }

textarea[name="user-input"] {
    width: 80%;
    height: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
    border: 2px solid #58D68D;
}

footer {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}

footer p {
  margin: 0;
}

#reset-button {
    display: block;
    margin: 0 auto;
    text-align:center;
    background-color: #a1a1a1;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    padding: 20px;
}
#reset-button:hover {
    background-color: #d32f2f;
}

#reset-button:active {
    background-color: #1f1cb7;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

li {
    flex-basis: auto;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 15% / 40%;
    padding: 10px;

}
















