body{
    background-image: url('https://img.freepik.com/vector-gratis/diseno-fondo-negocios_1300-357.jpg');

}


header {
    text-align: center;
    
  }

  header img {
    width: 100px; /* Ajusta el ancho según tu preferencia */
    height: 100px; /* Ajusta la altura según tu preferencia */
}

textarea[name="user-input"] {
    width: 80%;
    height: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
    border: 10px solid #58D68D;
    border-radius:  50px;
    animation: borderChange 5s infinite;
}
    
footer {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  background-color: hsl(145, 83%, 50%);
  padding: 20px;
  border-radius: 10px;
  
}

footer p {
  margin: 0;
  font-weight: bold;
}

#reset-button {
    display: block;
    margin: 0 auto;
    text-align:center;
    background-color:#00FF33  ;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(96, 168, 55);
    padding: 20px;
}
#reset-button:hover {
    background-color: #64e264;
}

#reset-button:active {
    background-color: #1c8bb7;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    font-weight: bold;

}

.word-content {
    margin: 0 auto;  
    
}


li {
    flex-basis: auto;
    margin-bottom: 10px;
    border: 2px solid #85ff33 ;
    border-radius: 15% / 40%;
    padding: 10px;
    animation: borderChange 5s infinite;

}

@keyframes borderChange {
    0% {
      border-color: #85ff33;
    }
    25% {
      border-color: #33ff85;
    }
    50% {
      border-color: #3385ff;
    }
    75% {
      border-color: #8533ff;
    }
    100% {
      border-color: #85ff33;
    }
}
